@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Noto+Sans:wght@400;700&family=Saira:wght@400;700&display=swap');

body {
    background-color: #fb92a9;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}

.flash-message {
    position: absolute;
    top: 54px;
    left: 50%;
    z-index: 10;
    transform: translate(-50%);
}

main {
    min-height: calc(100vh - 275px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Saira, sans-serif;
}

.hide {
    display: none;
}

.hero-image-container {
    position: relative;
    background-color: #ffebef;
    height: 225px;
    border-top: #d53c50 solid 2px;
}

.top-header {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 25%;
    color: #d53c50;
    font-size: 60px;
}

.hero-img {
    position: absolute;
    top: -14px;
    left: 42px;
    height: 250px;
}

.about-btn {
    text-decoration: none;
}


/* header */
.title-header h1 a{
    text-align: center;
    color: black;
}

header {
    background-color: #ffebef;
}


/*-- Navbar ---*/
.navbar {
    font-size: 1.2rem;
    letter-spacing: .08rem;
}

.navbar-nav li {
    padding-right: 0.5rem;
}

.navbar-brand {
    font-size: 1.4rem;
    font-family: Cinzel, serif;
    font-weight: bold;
    padding-left: 0.5rem;
}

.nav-link{
    font-family: Noto Sans, sans-serif;
    font-size: 1.1rem;
    color: #222222;
}

.nav-link:hover {
    color: #d53c50 !important;
}
.navbarToggler {
    margin-left: 0;
}



/*-- Banner Section --*/
.banner-message {
    background-color: #d53c50;
    text-align: center;
}

.banner-message p {
    padding-top: 0.6rem;
    display: block;
    color: #fff;
    margin-bottom: 0.5rem;
}

.banner-message p a{
    /* text-decoration: none; */
    color: #fff;
}

.banner-message p a:hover {
    text-decoration: none;
    color: #222222;
}

/*--Cards Section--*/
.card {
    box-shadow: 0 5px 5px rgba(0, 0, 0, .08);
}

.card-zoom {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.card-zoom:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.card-zoom img {
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

/*-- Accordion ---*/
.accordion-button {
    font-size: 70%;
    color: rgb(26, 24, 24) !important;
    text-decoration: none;
    background-color: #ffebef !important;
}

.accordion-header {
    background-color: grey;
}

/*--Footer--*/
#footer {
    width: 100%;
    background-color: #d53c50;
}

.footer-items {
    width: 40%;
    margin: 0 auto;
    padding: 1.5rem 2rem 0 2rem;
}

footer a {
    color: #ffebef;
    text-decoration: none;
}

ul.social {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 0;
}

ul.social li {
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 0;
}

ul.social li a i {
    color: white;
    transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
}

.social li a i:hover {
    color: #fb92a9;
}

.copyright {
    text-decoration: none;
    color: #fff;
    padding: 0;
}


/* input text fields*/
.text-field-height {
    height: 200px;
}


/* home page */
.home-buttons .btn {
    margin: 2px;
}


/* blog page */
.blog-buttons .btn {
    margin: 5px;
    position: relative;
    float: left;
}

.search-blog-container {
    float: right;
    margin: 8px;
}

#search-blog-btn {
    width: 32px;
    height: 30px;
    vertical-align: bottom;
    position: relative;
}

.search-blog-container form {
    position: relative;
}

.search-blog-container i {
    position: absolute;
    top: 7px;
    left: 8px;
    font-size: 1.1rem;
}

.blog-card {
    clear: both;
}

.blog-card .card {
    background-color: #ffebef;
    margin: 10px;
    list-style-type: none;
}

.blog-card li {
    list-style-type: none;
}

.blog-card h4 a{
    text-decoration: none;
    color: #222222;
    font-family: Saira, serif;
    text-align: left;
}

.no-comment {
    color: #222222;
}

.card-header {
    background-color: #ffebef;
}

.input-group-text {
    background-color: #ffd4de;
    color: black
}

.comments {
    font-size: 15px;
    color: #36454F
}

.blog-body .card {
    background-color: #ffebef;
    list-style-type: none;
    margin: 0 auto;
    margin-bottom: 10px;
}

.blog-footer {
    text-align: right;
}


/* health page */

.health-buttons .btn {
    margin: 3px;
}


/* profile page */

.profile-page-icon {
    color: #d53c50 !important;
    margin-left: 10px;
    font-size: 20px;
}

.profile-page-icon:hover {
    color: #fb92a9 !important;
}

.edit-icon {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 25px;
    cursor: pointer;
}

.blog-card .profile-text {
    margin-top: 15px;
}

.history-list {
    padding-left: 1rem;
}

.post-history-item {
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-top: 15px;
    padding-bottom: 15px;
}

.post-history-item a {
    text-decoration: none;
    color: #000;
}

.post-history-item .btn {
    width: 60px;
}

.history-item-title {
    margin-right: 20px;
    font-size: large;
    font-weight: 500;

}

.deleted-item {
    background-color: rgba(0, 0, 0, .4) !important;
    padding-top: 10px;
}


/*----------Falling ribbon animation------*/
.falling-leaves {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.leaf-scene {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    transform-style: preserve-3d;
}

.leaf-scene div {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 50px;
  background: url(../img/cancer-ribbon.png) no-repeat;
  background-size: 100%;
  transform-style: preserve-3d;
  backface-visibility: visible;
}


/* Button CSS effects from https: //blog.avada.io/css/button-click-effects/ */
.btn {
    text-align: center;
    cursor: pointer;
    position: relative;
    background-color: #d53c50;
    border: none;
    color: #fff;
    padding: 6px;
    width: 120px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #ee86ba;
    border-radius: 4px;
}

.btn:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px #d53c50;
    color: #000;
}

.btn:after {
    content: "";
    background: #ee86ba;
    display: block;
    position: absolute;
    opacity: 0;
    transition: all 0.8s
}

.btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.btn:focus {
    outline: 0;
}


/*--Media Queries--*/
@media (max-width: 576px) {
    .footer-items {
        width: 80%;
    }
}

@media (max-width: 767px) {
    .blog-buttons .btn {
        float: right;
    }
}