{% extends "base.html" %}

{% block title %}
    Blog add new post
{% endblock %}

{% block content %}

    <!-- About Section -->
    <div class="container">
    <div class="row mt-5">
        <form method="POST" action="{{ url_for('add_post') }}">
            <div class="col-md-10 mx-auto">
                <div class="input-group mb-3">
                    <span class="input-group-text">Post as anonymous?</span>
                    <div class="input-group-text">
                        <input class="form-check-input mt-0 anonymous_checkbox" type="checkbox" value="anonymous"
                               aria-label="Checkbox for following text input" name="anonymous" id="anonymous_checkbox">
                    </div>

                </div>
                <div class="input-group mb-3" id="user_full_name">
                    <span class="input-group-text">First name</span>
                    <input type="text" aria-label="First name" name="f_name" class="form-control" placeholder="{{ user.f_name }}">
                    <span class="input-group-text"> last name</span>
                    <input type="text" aria-label="Last name" name="l_name" class="form-control" placeholder="{{ user.l_name }}">
                </div>
                <div class="input-group mb-3 hide" id="user_nickname">
                    <span class="input-group-text" id="title">Nickname</span>
                    <input type="text" class="form-control" placeholder="" aria-label="Title"
                           aria-describedby="nickname" name="nickname">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="title">Story Title</span>
                    <input type="text" class="form-control" placeholder="" aria-label="Title"
                           aria-describedby="title" name="title" required>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Share your story</span>
                    <textarea class="form-control text-field-height" aria-label="With textarea"
                              name="post_body" required></textarea>
                </div>
                <button type="submit" class="btn btn-success float-end">Submit</button>
            </div>
        </form>
    </div>


{% endblock %}

