{% extends "base.html" %}

{% block title %}
    Blog
{% endblock %}

{% block content %}


    <div class="container">
        <ul>
            {% for post  in posts %}
                {% if not post.deleted  %}
                <div class="blog-card">
                    <div class="card">  
                        <li>
                            <h2><a href="{{url_for('single_post', post_id=post._id)}}"> TITLE: {{ post.title }}</a></h2>
                        </li>
                        <li>
                            <div class="blog-body">
                                <div class="container justify-content-center">
                                    <div class="card">
                                        <p>{{ post.body }}</p>
                                    </div>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <p class="comments"><a href="{{url_for('single_post', post_id=post._id)}}"><span>view comments</span></a></p>
                                </li>
                                {% for item in comments %}
                                    {% if item.post == post._id | string %}
                        
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}