{% extends "base.html" %}

{% block title %}
    Blog
{% endblock %}

{% block content %}


    <div id="blog-cont" class="container">
        <ul>
            {% for post  in posts %}
                {% if not post.deleted %}
                    <div class="blog-card">
                        <div class="card">
                            <li>
                                <h2><a href="{{ url_for('single_post', post_id=post._id) }}"> {{ post.title }}</a></h2>
                            </li>
                            <li>
                                <div class="blog-body">
                                    <div class="container justify-content-center">
                                        <div class="card">
                                            <div id="cog"><i class="fas fa-cog"></i></div>
                                            <p>{{ post.body }}</p>
                                        </div>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                        {% set count = namespace(value=0) %}
                                        {% for group in comments|groupby("post") %}
                                            {% for item in group.list[::-1]|sort(reverse=false, attribute="created_date") %}
                                                {% if item.post == post._id |string %}
                                                    {% set count.value = count.value + 1 %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        {% if count.value > 0 %}
                                            <a href="{{ url_for('single_post', post_id=post._id) }}"><span>View {{ count.value }} comments</span></a>
                                        {% else %}
                                            <span>No comments</span>
                                        {% endif %}
                                    </li>
                                </ul>
                            </li>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}