{% extends "base.html" %}

{% block title %}
     | Blog, Edit Comment
{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-10 mx-auto">
            <div class="card mt-3">

                <div class="add-new-comment my-4" id="add-new-comment">
                    <h4 class="text-center display-6">Edit Your Comment</h4>
                    <form method="POST" action="{{ url_for('edit_comment', comment_id=comment_id) }}">
                        <div class="col-md-10 mx-auto">
                            <div class="input-group mt-3 mb-3">
                                <span class="input-group-text">Post as anonymous?</span>
                                <div class="input-group-text">
                                    {% if comment.anonymous %}
                                        <input class="form-check-input mb-2 anonymous_checkbox" type="checkbox"
                                           aria-label="Checkbox for following text input" name="anonymous"
                                           id="anonymous_checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input mb-2 anonymous_checkbox" type="checkbox"
                                           aria-label="Checkbox for following text input" name="anonymous"
                                           id="anonymous_checkbox">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="input-group mb-3" id="user_f_name">
                                <span class="input-group-text">First name</span>
                                <input type="text" aria-label="First name" name="f_name" class="form-control"
                                       value="{{ comment_username.f_name }}">
                            </div>
                            <div class="input-group mb-3" id="user_l_name">
                                <span class="input-group-text"> Last name</span>
                                <input type="text" aria-label="Last name" name="l_name" class="form-control"
                                       value="{{ comment_username.l_name }}">
                            </div>
                            <div class="input-group mb-3 hide" id="user_nickname">
                                <span class="input-group-text" id="title">Nickname</span>
                                <input type="text" class="form-control" placeholder="" aria-label="Title"
                                       aria-describedby="nickname" name="nickname" value="{{ comment.nickname }}">
                            </div>
                            <div class="input-group mb-3">
                                <textarea class="form-control text-field-height" aria-label="With textarea"
                                          name="comment_body" placeholder="Share Your Story..." required>{{ comment.comment }}</textarea>
                            </div>
                            <button type="submit" class="btn float-end mb-3 mt-2">Update</button>
                    </form>
                    <button class="btn mb-3 mt-2" onclick="() => window.history.back();">Cancel</button>
                </div>
</div>
</div>
</div>
</div>

{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/add_new_post.js') }}"></script>
{% endblock %}