{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-10 mx-auto">
            <div class="accordion" id="health_check">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            About Breast Cancer
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                        <div class="accordion-body">
                            Breast cancer is a type of cancer that starts in the breast. Cancer starts when cells begin
                            to
                            grow out of control. Breast cancer cells usually form a tumor that can often be seen on an
                            x-ray or felt
                            as a lump. Breast cancer occurs almost entirely in women, but men can get breast cancer,
                            too. <br>
                            It’s important to understand that most breast lumps are benign and not cancer (malignant).
                            They are not life threatening, but some types of benign breast lumps can increase a woman's
                            risk of
                            getting breast cancer. <br>
                            Any breast lump or change needs to be checked by a health care
                            professional to
                            determine if it is benign or malignant (cancer) and if it might affect your future cancer
                            risk.<br>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne_a">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne_a" aria-expanded="true" aria-controls="collapseOne_a">
                            Where Breast Cancer Starts
                        </button>
                    </h2>
                    <div id="collapseOne_a" class="accordion-collapse collapse" aria-labelledby="headingOne_a"
                        data-bs-parent="#health_check">
                        <div class="accordion-body">
                            <strong>Breast cancers can start from different parts of the breast.</strong>
                            Most breast cancers begin in the ducts that carry milk to the nipple (ductal cancers)
                            Some start in the glands that make breast milk (lobular cancers).<br>
                            There are also other types of breast cancer that are less common like phyllodes tumor and
                            angiosarcoma
                            A small number of cancers start in other tissues in the breast. These cancers are called
                            sarcomas and
                            lymphomas and are not really thought of as breast cancers.<br>
                            Although many types of breast cancer can cause a lump in the breast, not all do. See Breast
                            Cancer Signs and
                            Symptoms to learn what you should watch for and report to a health care provider.<br>
                            Many breast cancers are
                            also found on screening mammograms, which can detect cancers at an earlier stage, often
                            before they can be
                            felt, and before symptoms develop.<br>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne_b">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne_b" aria-expanded="true" aria-controls="collapseOne_b">
                            How Common Is Breast Cancer?
                        </button>
                    </h2>
                    <div id="collapseOne_b" class="accordion-collapse collapse" aria-labelledby="headingOne_b"
                        data-bs-parent="#health_check">
                        <div class="accordion-body">
                            Eight out of 10 cases of breast cancer are diagnosed in women aged 50 and over.<br>
                            One-quarter of cases are diagnosed in women aged 75 and over.<br>
                            Just over 10,000 women are diagnosed with breast cancer under the age of 50 every year in
                            the UK. Of these,
                            around 7,600 women will be in their 40s.<br>
                            Around 2,300 women in the UK are diagnosed aged 39 or under, or just 4% of all cases.<br>
                            Breast cancer in men is rare with just 370 new cases in the UK each year, compared to around
                            55,000 new
                            cases in women.<br>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Risk and Prevention
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#health_check">
                        <div class="accordion-body">
                            A risk factor is anything that increases your chances of getting a disease, such as cancer.
                            While you
                            can’t change
                            some breast cancer risk factors—family history and aging, for example—there are some risk
                            factors that
                            you can control. <br>
                            <strong>For all women</strong>
                            <strong>Get to and stay at a healthy weight:</strong> Both increased body weight and weight
                            gain as an
                            adult are linked with a higher risk of breast cancer after menopause. Cancer Research UK
                            recommends you stay at a healthy weight throughout your life and avoid excess weight gain by
                            balancing
                            your food intake with physical activity.<br>
                            <strong>Be physically active:</strong>Many studies have shown that moderate to vigorous
                            physical
                            activity is linked with lower breast cancer risk, so it’s important to get regular physical
                            activity.<br>
                            <strong>Avoid or limit alcohol: </strong> Alcohol increases risk of breast cancer. Even low
                            levels of
                            alcohol intake have been linked with an increase in risk.<br>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What Breast Cancer Risk Factors Can’t I Change?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#health_check">
                        <div class="accordion-body">
                            Some factors are outside our control, including:
                            Being a woman – 99% of new cases of breast cancer are in women.<br>
                            Getting older – 80% of breast cancers occur in women over the age of 50. Most men who get
                            breast cancer
                            are over 60.<br>
                            A family history of breast cancer – if you have a family history of breast cancer, you and
                            some other
                            members of your family may have a higher than average risk of developing the disease,
                            however, there may
                            be some ways you can manage your risk.<br>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Is There a Link Between Diet/Vitamins and Breast Cancer Risk?
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#health_check">
                        <div class="accordion-body">
                            The possible link between diet and breast cancer risk is not clear, but this is an active
                            area of study.<br>
                            Some (but not all) studies have suggested that a diet that is high in vegetables, fruit, and
                            calcium-rich dairy products, but low in red and processed meats might help lower the risk of
                            breast
                            cancer. <br>It's also not clear if specific vegetables, fruits, or other foods can lower
                            risk.
                            And most
                            studies have not found that lowering fat intake has much of an effect on breast cancer risk
                            (although
                            some have suggested it might help lower the risk of dying from breast cancer).<br>

                            But just because the science isn't clear on this doesn't mean that there’s no point in
                            eating a healthy
                            diet. <br>A diet low in fat, processed and red meat, and sugary drinks, but high in fruits
                            and
                            vegetables
                            can clearly have many health benefits, including lowering the risk of some other types of
                            cancer.<br>

                            So far, there's no strong evidence that taking vitamins or any other type of dietary
                            supplement reduces
                            the risk of breast cancer.<br>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            For Women at Increased Risk of Breast Cancer
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#health_check">
                        <div class="accordion-body">
                            If you are a woman at increased risk for breast cancer (for instance, because you have a
                            strong family
                            history of breast cancer, a known gene mutation that increases breast cancer risk, such as
                            in the BRCA1
                            or BRCA2 gene, or you have had DCIS or LCIS), there are some things you can do that might
                            help lower
                            your chances of developing breast cancer (or help find it early).<br>

                            * Genetic counseling and testing for breast cancer risk (if it hasn’t been done already)<br>
                            * Close observation to look for early signs of breast cancer<br>
                            * Medicines to lower breast cancer risk<br>
                            * Preventive (prophylactic) surgery<br>

                            Your health care provider can help you determine your risk of breast cancer, as well as
                            which, if any,
                            of these options might be right for you.<br>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Treating Breast Cancer
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#health_check">
                        <div class="accordion-body">

                            If you’ve been diagnosed with breast cancer, your cancer care team will discuss your
                            treatment options with you. It’s important that you think carefully about each of your
                            choices. Weigh the benefits of each treatment option against the possible risks and side
                            effects.<br>
                            <strong>Common treatment approaches</strong>
                            Typically, treatment plans are based on the type of breast cancer, its stage, and any
                            special situations. Your treatment plan will depend on other factors as well, including your
                            overall health and personal preferences.<br>
                            <strong>Local treatments</strong>
                            Some treatments are local, meaning they treat the tumor without affecting the rest of the
                            body.<br>
                            Most women with breast cancer will have some type of surgery to remove the tumor. Depending
                            on the type of breast cancer and how advanced it is, you might need other types of treatment
                            as well, either before or after surgery, or sometimes both.<br>
                            <strong>Systemic treatments</strong>
                            Drugs used to treat breast cancer are considered systemic therapies because they can reach
                            cancer cells almost anywhere in the body. They can be given by mouth or put directly into
                            the bloodstream. Depending on the type of breast cancer, different types of drug treatment
                            might be used, including: chemotherapy, hormone therapy, targeted drug therapy, and immunotherapy for Breast Cancer.<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
