{% extends "base.html" %}

{% block title %}
    <!-- Home -->
{% endblock %}


{% block content %}

    <!-- {% if session.user %}
        <a href="{{ url_for('profile') }}">Profile</a>
         <a href="{{ url_for('blog') }}">Blog</a>
        <a href="{{ url_for('logout') }}">logout</a>
    {% else %}
        <a href="{{ url_for('blog') }}">Blog</a>
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
    <h1>hello world</h1>
    {% if session.user %}
        Hello,
    {% endif %} -->


        <!-- Hero Image -->
        <div class="container-fluid gx-0">
                <img src="{{ url_for('static', filename='img/readme_img.jpg') }}" class="hero-img" alt="A pink ribbon on the pick background">
        </div>

        <!-- About Section -->
        <div class="container-fluid">
            <row class="pt-5">
                <div class="col-md-10">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Bringing Awareness To Breast Cancer</h5>
                            <p class="card-text">Breast cancer is the most common cancer in women the UK with one woman
                                diagnosed every 10 minutes. It is the most commonly diagnosed cancer for women all over
                                the world. Researchers believe that developing breast cancer can be environmental or
                                genetic, or perhaps a combination of both; and they also agree that there are some risk
                                factors that cannot be changed, and preventing cancer entirely is impossible. However,
                                there are ways to be proactive by living a healthy lifestyle.</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </row>

        </div>

        <!-- 2 Cards Section  -->
        <div class="container-fluid">
            <row class="pt-5">
                <div class="col-md-6">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </row>

        </div>


        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>



{% endblock %}