{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}


{% block content %}

<div class=" container">
    <div class="row mt-5">
        <div class="form-container col-11 col-md-10 mx-auto">
            <h1>Log In</h1>
            <form class="form_div" action="{{ url_for('login') }}" method="post">
                <label class="label-of-form" for="username">Username:*</label><br>
                <input class="input-of-form" id="username" type="text" name="username" minlength="2" maxlength="10" required><br>
                <label class="label-of-form" for="password">Password:*</label><br>
                <input class="input-of-form" id="password" type="password" name="password" minlength="2" required><br>
                <input type="submit" value="Log in" class="button-of-form btn btn-primary">
                <h2>Don't have an account?</h2>
                <a href=" {{ url_for('register') }}">Log In</a>
            </form>
        </div> 
    </div>
</div>


{% endblock %}