{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <a href="{{ url_for('home') }}">Home</a>
    <h1>Hello {{ user.username }}</h1>

    <a href="{{ url_for('add_post') }}">
        <h3>Create a post</h3>
    </a>


    <ul>
        <p>Post History</p>
        {% for post in posts %}
            {% if post.deleted %}
                <li>   
                    <div>
                        <p>{{ post.title }}*DELETED* </p>
                        <a href="{{ url_for('edit_post', post_id=post._id) }}">Edit post</a>
                        <a href="{{ url_for('restore_post', post_id=post._id) }}"><i class="fas fa-undo-alt"></i></i></a>
                    </div>
                </li>
            {% else %}
            <li>   
                <div>
                    <p>{{ post.title }}</p>
                    <a href="{{ url_for('edit_post', post_id=post._id) }}">Edit post</a>
                    <a href="{{ url_for('delete_post', post_id=post._id) }}"><i class="fas fa-trash-alt"></i></a>
                </div>
            </li>
            {% endif %}
        {% endfor %}
    </ul>


{% endblock %}