{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row mt-5">
            <div class="form-container col-11 col-md-10 mx-auto">
                <h1>Sign Up</h1>
                <form  method="POST" action="{{ url_for('register') }}" >
                    <div class="input-group mb-3" id="f_name">
                        <span class="input-group-text">First name</span>
                        <input type="text" aria-label="First name" name="f_name" class="form-control" required
                            minlength="2">
                    </div>
                    <div class="input-group mb-3" id="l_name">      
                        <span class="input-group-text">Last name</span>
                        <input type="text" aria-label="Last name" name="l_name" class="form-control" required
                            minlength="2">
                    </div>

                    <div class="input-group mb-3" id="user_username">
                        <span class="input-group-text" id="title">Username</span>
                        <input type="text" class="form-control" minlength="2" maxlength="10" aria-label="Username"
                            aria-describedby="username" name="username" required>
                    </div>

                    <div class="input-group mb-3" id="user_email">
                        <span class="input-group-text" id="title">E-mail</span>
                        <input type="text" class="form-control" aria-label="Email"
                            aria-describedby="email" name="email">
                    </div>
                    <div class="input-group mb-3" id="user_password">
                        <span class="input-group-text" id="title">Password</span>
                        <input type="password" class="form-control" minlength="2" aria-label="Password"
                            aria-describedby="choose password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary float-end">Sign Up</button>
                    <h2>Already have an account?</h2>
                    <a href=" {{ url_for('login') }}">Log In</a>
                </form>
            </div> 
        </div> 
    </div>

    

{% endblock %}