{% extends "base.html" %}

{% block title %}
     | Sign Up
{% endblock %}

{% block content %}

    <div class="container">
        <div class="blog-card card mx-sm-2 mt-3">
            <h4 class="card-header">Sign Up</h4>
            <div class="card-body">
                <div class="form-container-fluid col-12 col-md-10 mx-auto hide" id="edit-signup-form"></div>
                    <form  method="POST" action="{{ url_for('register') }}" >
                        <div class="input-group mb-3" id="f_name">
                            <span class="input-group-text">First name</span>
                            <input type="text" aria-label="First name" name="f_name" class="form-control" required
                                minlength="2">
                        </div>
                        <div class="input-group mb-3" id="l_name">      
                            <span class="input-group-text">Last name</span>
                            <input type="text" aria-label="Last name" name="l_name" class="form-control" required
                                minlength="2">
                        </div>

                        <div class="input-group mb-3" id="user_username">
                            <span class="input-group-text" id="title">Username</span>
                            <input type="text" class="form-control" minlength="2" maxlength="10" aria-label="Username"
                                aria-describedby="username" name="username" required>
                         </div>

                        <div class="input-group mb-3" id="user_email">
                            <span class="input-group-text" id="title">E-mail</span>
                            <input type="text" class="form-control" aria-label="Email"
                                aria-describedby="email" name="email">
                        </div>
                        <div class="input-group mb-3" id="user_password">
                            <span class="input-group-text" id="title">Password</span>
                            <input type="password" class="form-control" minlength="2" aria-label="Password"
                                aria-describedby="choose password" name="password">
                        </div>
                        <button type="submit" class="btn float-end">Sign Up</button>
                        <p>Already have an account? <a href=" {{ url_for('login') }}">Log&nbspIn</a></p>
                    </form>
                </div>
            </div> 
        </div> 
    </div>

    

{% endblock %}