{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}


{% block content %}


    <a href="{{ url_for('home') }}">Home</a>
    <h1>Create an Account</h1>

    <form action="{{ url_for('register') }}" method="post">
        <label for="username">Username:*</label><br>
        <input id="username" type="text" name="username" minlength="2" maxlength="10" required><br>

        <label for="email">E-mail address:*</label><br>
        <input id="email" type="email" name="email" required><br>
        <label for="password">Password:*</label><br>
        <input id="password" type="password" name="password" minlength="2" required><br>
        <label for="confirm-password">Repeat Password:*</label><br>
        <input id="confirm-password" type="password" name="confirm-password" required><br>
        <label for="f_name">First name:</label><br>
        <input id="f_name" type="text" name="f_name" minlength="2" maxlength="10"><br>
        <label for="l_name">Last name:</label><br>
        <input id="l_name" type="text" name="l_name" minlength="2" maxlength="10"><br>
        <input type="submit" value="Submit" class="button">
    </form>

{% endblock %}