{% extends "base.html" %}

{% block title %}
    | Blog, Post
{% endblock %}

{% block content %}
    {% if not single_post.deleted %}
        <div class="container">
        <div class="blog-card card mx-sm-2 mt-3">
            <h4 class="card-header"><a href="#"> {{ single_post.title }}</a></h4>
            <div class="blog-body">
                <div class="card-body">
                    <p class="card-text pt-3 blog-body">{{ single_post.body }}</p>
                    <hr class="single-post">
                    <div class="d-flex float-end mb-4">
                        {% if session.user %}
                            <button type="button" class="btn btn-danger"
                                    onclick="document.getElementById('add-new-comment').classList.remove('hide')">
                                Comment
                            </button>
                        {% endif %}
                    </div>

                    <!---- Hidden Share Your Comment Form ---->
                    <div class="add-new-comment hide mt-3" id="add-new-comment">
                        <div class="text-center">
                            <h4 class="mb-3">Add your comment</h4>
                        </div>
                        <form method="POST" action="{{ url_for('add_comment') }}">
                            <input type="hidden" value="{{ single_post._id }}" name="single_post_id">
                            <div class="col-md-10 mx-auto">
                                <div class="input-group mb-2">
                                    <span class="input-group-text">Post as anonymous?</span>
                                    <div class="input-group-text">
                                        <input class="form-check-input mt-0 anonymous_checkbox" type="checkbox"
                                               value="anonymous" aria-label="Checkbox for following text input"
                                               name="anonymous" id="anonymous_checkbox">
                                    </div>
                                </div>
                                <div id="user_full_name">
                                    <div class="input-group mb-2" id="user_f_name">
                                        <span class="input-group-text">First name</span>
                                        <input type="text" aria-label="First name" name="f_name"
                                               class="form-control"
                                               value="{{ user.f_name }}">
                                    </div>
                                    <div class="input-group mb-2" id="user_l_name">
                                        <span class="input-group-text">Last name</span>
                                        <input type="text" aria-label="Last name" name="l_name" class="form-control"
                                               value="{{ user.l_name }}">
                                    </div>
                                </div>
                                <div class="input-group mb-2 hide" id="user_nickname">
                                    <span class="input-group-text" id="title">Nickname</span>
                                    <input type="text" class="form-control" placeholder="" aria-label="Title"
                                           aria-describedby="nickname" name="nickname">
                                </div>

                                <div class="input-group mb-2">
                                        <textarea class="form-control text-field-height" aria-label="With textarea"
                                                  name="comment_body" placeholder="Add Your Comment"
                                                  required></textarea>
                                </div>
                                <button type="button" class="btn btn-danger"
                                        onclick="document.getElementById('add-new-comment').classList.add('hide')">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-danger mb-3 float-end">Share Now</button>
                            </div>
                        </form>
                    </div>

                    <div class="blog-footer mt-2 comment-counter">
                        <p class="lead comments fst-italic fw-bolder">
                            {{ amount_of_comments }}
                            {% if amount_of_comments > 1 %}
                                <span>comments</span>
                            {% else %}
                                <span>comment</span>
                            {% endif %}
                        </p>
                        {% for item in comments %}
                            {% if not item.deleted %}
                                {% if item.anonymous %}
                                    <p class="fw-bolder text-danger">By:{{ item.nickname }}</p>
                                {% else %}
                                    <p class="fw-bolder text-danger"> By:{{ item.username.f_name }}
                                        {{ item.username.l_name }}</p>
                                {% endif %}
                                <p class="fst-italic">"{{ item.comment }}"</p>
                                <div class="mb-3">
                                    {% if session.user %}
                                        {% if session.user == item.username._id|string %}
                                            <a href="{{ url_for('edit_comment', comment_id=item._id ) }}"
                                               class="profile-page-icon"><i
                                                    class="fas fa-edit"></i></a>
                                            <a href="{{ url_for('delete_comment', comment_id=item._id ) }}"
                                               class="profile-page-icon"><i
                                                    class="far fa-trash-alt"></i></a>
                                        {% endif %}
                                    {% endif %}

                                    {#                                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#edit_comment">Edit</button>#}
                                    {#                                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmation" id="{{item._id}}"> Delete</button>#}
                                </div>
                                <hr>

                            {% else %}
                                {#                                display deleted comments #}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button class="btn" onclick="goBack()">Back</button>
                </div>
            </div>
        </div>

    {% endif %}


    <!-- Confirmation Modal -->
    <div class="modal fade" id="confirmation" tabindex="-1" aria-labelledby="confirmationLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="confirmationLabel">Are you sure you want to delete?</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            <a href="#" type="button" class="btn btn-danger">Yes, delete</a>
        </div>
    </div>



{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/add_new_post.js') }}"></script>
{% endblock %}